@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
    background-color: #d8dae041;
}
/* ==================== Landing Page Hero ============== */
.hero-section {
    width: 100vw;
    position: relative;
    top: -3rem;
    background-image: url('../images/hero-bg.jpg');
    background-position: left;
    background-size: cover;
    height: 40rem;
}

.hero-section-inner {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.hero-text {
    width: 70%;
    padding-top: 10rem;
    color: #fff;
}

.hero-text p {
    font-weight: 300;
    width: 75%;
}

h1 {
    font-weight: 700;
}
.hero-text h1 {
    width: 90%;
    font-weight: 700;
}
.background-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to top,
    rgba(27, 31, 65, 0.90) 0%,
    rgba(27, 31, 65, 0.925) 100%
  );
}
/* ========================= Utilies ================== */
.orange-text {
    color: #ed6754;
}
.blue-text {
    color: #21243d;
}
.gray-text {
    color: #d3d3d3;
}


.button {
    border: none;
    padding: 0.5rem 1rem;
    width: 5rem;
    border-radius: 5px;
}

.orange-btn {
    background: #e96955;
    color: #fff;
}
.white-btn {
    background: #fff;
    color: #000;
}

.blue-btn {
    background: #3f76e1;
    color: #fff;
}

.white-btn:hover {
    color: #000;
    text-decoration: none;
}

.orange-btn:hover {
    color: inherit;
    text-decoration: none;
}

.hero-section-media {
    margin-top: 8rem;
}

.hero-section-media-sm-container {
    display: flex;
    width: 30rem;
    justify-content: space-between;
}
.hero-section-img {
    width: 14.3rem;
    height: 14.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.img-1 {
    background-image: url('../images/hero-section-media-1.jpg');
    width: 30rem;
    height: 20rem;
    margin-bottom: 1rem;
}
.img-2 {
    background-image: url('../images/hero-section-media-2.jpg');
}
.img-3 {
    background-image: url('../images/hero-section-media-3.jpg');
}

/* ======== Main Content Styles ========== */
.main-section-content {
   z-index: 20;
   width: 90vw;
   margin: 0 auto;
   padding-top: 2rem;
}

.do-good-section {
   z-index: 20;
   width: 50%;
}

.do-good-section p {
    width: 80%;
}

.everything-you-need-to-know-section {
    margin: 3rem 0;
    width: 100%;
}

.everything-you-need-to-know-section h1 {
    width: 40%;
    font-weight: 700;
}

.cards-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-2 {
    margin-top: 2rem;
}
.card-3 {
    margin-top: 4rem;
}
.feature-card {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    padding: 0 2rem 1rem 2rem;
    border-radius: 0.5rem;
    height: 13rem;
}

.feature-card h3 {
    position: relative;
    top: -1rem;
}

.curly-text {
    color: #ed6754;
    font-family: 'Dancing Script', cursive;
}

 .feature-card-icon {
    background-color: #1b1f41d1;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    top: -2rem;
}

.background-box {
    height: 0.5rem;
    background-color: #ed6754;
    position: relative;
    z-index: -2;
    top: 12rem;
}

.top-campaigns {
    width: 90vw;
    margin: 0 auto;
}

.campaign-grid {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1rem;
}

.campaign-grid .campaign-card {
   width: 100%;
   height: auto;
   background-color: #fff;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0;
}

.campaign-card h3 {
    color: #1b1f41;
}

footer {
    width: 100vw;
    background-color: #1b1f41;
    padding: 3rem 0;
}

.footer-inner {
     width: 90%;
     margin: 0 auto;
     color: rgb(29, 18, 18);
     display: flex;
     align-items: baseline;
     justify-content: space-between;
     padding-bottom: 2rem;
}

.footer-inner ul li {
    list-style-type: none;
}

.footer-inner ul li a {
    color: #bcbdc8;
    font-size: 20px;
    font-weight: 300;
}

.footer-inner ul h3 {
    padding-bottom: 1rem;
    color: #e96955;
    text-transform: uppercase;
}

.footer-inner-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-links {
    width: 16%;
    display: flex;
    justify-content: space-between;
}

.social-media-links svg:hover {
    fill: #e96955;
    cursor: pointer;
}

/* =============== Campaign Details Page Styles  ====================== */
.campaign-details {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.campaign-details-inner {
    width: 100%;
}

.campaign-img {
    width: 100%;
    background-image: url('../images/campaign-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    border-radius: 1rem;
}

.campaign-info {
  width: 100%;
}

.campaign-progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.campaign-progress-bar {
    width: 40%;
    height: 0.5rem;
    border-radius: 5px;
    background-color:  #1b1f41c5;
}

.progress-bar-inner {
    width: 70%;
    height: 0.5rem;
    border-radius: 5px;
    background-color: #e96955e6;
}

.campaign-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.campaign-buttons .button {
    width: 48%;
}

/* ============ End of Campaign Details Page Styles ============ */



/* =========== Tablet Design ================== */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    /* ================= Landing Page Hero Section   =================*/
    .hero-section-inner {
      width: 80%;
    }

    .hero-text {
        width: 100%;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
    }

    .hero-text p {
        width: 100%;
    }

    .hero-text h1 {
        width: 100%;
        font-size: 45px;
    }

    .hero-section-media {
        display: none;
    }
   /* =================End Of Landing Page Hero Section For Tablet */

    /* ============== Main Content Section Tablet Design ============== */
    .main-section-content {
    width: 90vw;
    }

    .do-good-section {
    z-index: 20;
    width: 90%;
    }

    .do-good-section p {
        width: 80%;
    }

    .everything-you-need-to-know-section {
        width: 100%;
    }

    .everything-you-need-to-know-section h1 {
        width: 70%;
    }
    .feature-card {
        height: 16rem;
    }

    .feature-card h3 {
        top: 0rem;
    }

     .feature-card-icon {
        top: -1rem;
    }
    .campaign-grid {
        grid-template-columns: 48% 48%;
    }
    /* =============== Site Footer ========= */

    .footer-inner {
        padding-bottom: 2rem;
    }

    .footer-inner ul h3 {
        text-transform: capitalize;
    }

    .footer-inner-container {
        width: 80%;
        align-items: flex-start;
        flex-direction: column;
    }

    .social-media-links {
        width: 25%;
    }
}
/* ============== iPad Pro Designs =============== */
@media only screen 
  and (min-device-width: 798px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)  {
    .hero-section-media {
        display: none;
    }

    .hero-text {
            width: 95%;
            padding-top: 13rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

    .everything-you-need-to-know-section h1 {
        width: 50%;
    }

    .feature-card {
        height: 15rem;
    }

    .do-good-section {
        width: 70%;
    }

    .campaign-grid {
        display: grid;
        margin: 3rem 0;
        grid-template-columns: repeat(2, 48%);
        height: auto;
        grid-gap: 1rem;
    }
    .footer-inner ul  {
        padding-left: 0;
    }

    .footer-inner-container {
        width: 90%;
    }

    .social-media-links {
        width: 16%;
    }
}

/* ============== Mobile Design =================== */

@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 540px) 
  /* and (-webkit-min-device-pixel-ratio: 3) */ { 
    .hero-section-inner {
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .hero-text {
        width: 100%;
        display: flex;
        padding-top: 8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-text p {
        width: 100%;
    }

    .hero-text h1 {
        width: 100%;
    }

    .hero-section-media {
        display: none;
    }

    /* ============== Main Content Section Mobile Design ============== */
    .main-section-content {
        width: 90vw;
    }

    .do-good-section {
        width: 100%;
    }

    .do-good-section p {
        width: 100%;
    }

    .everything-you-need-to-know-section {
        width: 100%;
    }

    .everything-you-need-to-know-section h1 {
        width: 100%;
    }

    .cards-container {
        flex-direction: column;
    }

    .card-2 {
        margin-top: 4rem;
    }

    .feature-card {
        width: 100%;
    }

    .background-box {
        height: 37rem;
        width: 0.5rem;
        position: absolute;
        top: 87rem;
        left: 50%;
    }

    .campaign-grid {
        grid-template-columns: 100%;
    }

    .campaign-grid .campaign-card {
      width: 100%;
    }

    footer {
        width: 100vw;
        background-color: #1b1f41;
        padding: 3rem 0;
    }

    .footer-inner {
        flex-direction: column;
    }

    .footer-inner ul {
        padding-left: 0;
    }

    .footer-inner ul li a {
        font-size: 15px;
    }

    .footer-inner-container {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    .social-media-links {
        width: 38%;
        align-items: center;  
    }

    .campaign-details-inner {
        width: 100%;
    }

    .campaign-info {
    width: 100%;
    }

    .campaign-progress {
    flex-direction: column;
    }

    .campaign-progress-bar {
        width: 100%;
      margin-top: 1rem;
    }

    .campaign-buttons {
        flex-direction: column;
    }

    .campaign-buttons .button {
        width: 100%;
        margin-bottom: 1rem;
    }
}